body h1,h2,h3,h4,h5,h6,p,ul,form,dl,dd,dt{
    padding: 0;
    margin: 0;
}
ul,li{
    letter-spacing: normal;
}
a{
    text-decoration: none;
    color: #000;
}
a.visited{
    color: #000;
}
img{
    bottom: none;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    
    }
    :root{
        font-style: 5.6vw;
    }

#num {
    text-align: center;
    width: 50px; 
}

.icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        font-size: 20px;
        }

#box{
	margin-left: 120px;
margin-top: 20px;
}
.t {
    display: flex; 
    align-items: baseline;
    justify-content: space-between; 
}
.dp{
	display: flex; 
	width: 90%;
    align-items: baseline;
    justify-content: space-between; 
}
.dp p{
	margin-right: 120px;
	color: #000;
}
.t h3{
   margin-right: 260px;
}
.t p{
    margin-left: 0;
    color: #08b762;
}

.left-icon {
    margin-right: 10px;
}

.dd ul li {
			list-style-type: none;
			display: flex;
			line-height: 50px;
			height: 75px;
			width: 100%;
			flex-wrap: wrap;
			margin-right: 10px;
			margin-left: 10px;
			border-bottom-width: 1px;
			border-bottom-color: #ddd;
			margin-top: 10px;
		}

.dd ul li .img {
			position: relative;
			height: 65px;
			width: 65px;
			display: flex;
			border: 1px solid #f2f2f2;
		}

 .dd ul li .img img {
			text-align: center;
			margin-top: 2px;
			margin-left: 3px;
		}
 

 
.dd ul li .text {
			line-height: 20px;
			height: 65px;
			width: 110px;
			margin-left: 50px;
		}

 .dd ul li .red {
			color: #d30012;
			font-weight: bold;
			margin-left: 190px;
			width: 40px;
		}

.dd ul li .price {
			width: 40px;
			color: #a0a0a0;
			font-weight: bold;
			margin-left: 190px;
			text-decoration: line-through;
		}

.dd ul li .text strong {
			height: 40px;
			width: 110px;
			overflow: hidden;
			display: block;
			font-weight: normal;
		}


		.bnav{
			position: fixed;
			width: 100%;
			left: 0;
			bottom: 0;
			background-color: hsl(0, 12%, 97%);
			z-index: 99;
		}
		.bnav ul{
			display: flex;
			height: 50px;
		}
		
		.bnav div{
			text-align: center;
		}
		.bnav li{
			width: 20%;
			display: flex;
			justify-content: center;
			text-align: center;
		}      

		.bnav p{
			text-align: center;
			width: 100px;
			height: 30px;
			margin-top: 10px;
			margin-left: 600px;
			background-color: orange;
			border-radius: 10px;
		}