body h1,h2,h3,h4,h5,h6,p,ul,form,dl,dd,dt{
    padding: 0;
    margin: 0;
}
ul,li{
    letter-spacing: normal;
}
a{
    text-decoration: none;
    color: #000;
}
a.visited{
    color: #000;
}
img{
    bottom: none;
}
/* 杨阳的可选内容 */
body{
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    
    }
    :root{
        font-style: 5.6vw;
    }

    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }

.bnav{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .03);
    /* background-color: white; */
    z-index: 9;
}
.bnav ul{
    display: flex;
}

.bnav div{
    text-align: center;
}
.bnav svg{
    font-size: 20px;
}

.bnav li:nth-child(3) svg {
   font-size: 60px;
    
}

.bnav li{
    width: 20%;
    display: flex;
    justify-content: center;
}      


#header
{
 display: flex;
 position: fixed;
 width: 100%;
 z-index: 99;
}

.search
{
 flex-grow: 1;
 display: flex;
align-items: center;
 position: relative; 
  width: 50%;
}

#search
{
 flex-grow: 8;
 border: none; 
 outline: none;/* 轮廓 */ 
 background-color: #d9d8d8;
 padding: 10px 10px 10px 20px;
 letter-spacing: 10px;
 border-radius: 5px;
 
}

.icon {
width: 1em;
height: 1em;
vertical-align: -0.15em;
fill: currentColor;
overflow: hidden;
font-size: 20px;
}

.search .icon {
width: 1em;
height: 1em;
vertical-align: -0.15em;
fill: currentColor;
overflow: hidden;
font-size: 20px;
position: absolute;
}

.icon:nth-child(2) {
font-size: 40px;

}
.icon:nth-child(3) {
font-size: 40px;

}



.main {

    border: 1px solid #ddd;
    font-size: 12px;
    margin: 0;
    padding: 0;
   
}

.main .box ul .last {
    border-bottom-style: none;
}

.main .top ul li {
    list-style-type: none;
    float: left;
    height: 20px;
    width: 45px;
    margin-left: 10px;
    line-height: 20px;
    text-align: center;
    position: relative;
}

.none {
    display: none;
}

.main .box ul li .text {
    line-height: 20px;
    height: 65px;
    width: 110px;
    float: left;
    margin-left: 2px;
}

.main .box ul li .text .red {
    color: #00c8d3;
    font-weight: bold;
    float: left;
    width: 40px;
}

.top .selected {
    
    color: #0e0d0d;
    position: relative;
    font-size: 20px;
}

.top .pic {
    background-position: -102px -127px;
    background-image: url(img/spirit.png);
    height: 4px;
    left: 42%;
    position: absolute;
    top: 21px;
    width: 8px;
    display: none;
}

.main .box ul li .text strong {
    height: 40px;
    width: 110px;
    overflow: hidden;
    display: block;
    font-weight: normal;
}

.main .box ul li .img img {
    text-align: center;
    margin-top: 2px;
    margin-left: 3px;
}

.main .box .content img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .box .content{
   margin-top: 10%;
}
.main .top {
    height: 10px;
    border-bottom-width: 1px;
    /* border-bottom-style: solid; */
    /* border-bottom-color: #c80300; */
    padding-top: 10px;
    margin-bottom: 15px;
    margin-top: 10%;
    color: #c1bdbd;
    position: fixed;
    z-index: 99;
    font-size: 14px;
    
}


 .main .title {
    height: 30px;
    border-bottom-color: #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 30px;
    font-weight: bold;
    padding-left: 10px;
} 

.main .box ul li {
    list-style-type: none;
    height: 75px;
    /* width: 180px; */
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    margin-top: 10px;
}

.main .box ul li .img .pic1 {
    background-position: 0 -109px;
    background-image: url(img/spirit.png);
    color: #FFFFFF;
    font: bold 10px Tahoma;
    height: 20px;
    left: 0;
    padding-left: 2px;
    position: absolute;
    top: 0;
    width: 18px;
}

.main .box ul li .img .pic2 {
    background-position: 0 -132px;
    background-image: url(img/spirit.png);
    color: #FFFFFF;
    font: bold 10px Tahoma;
    height: 20px;
    left: 0;
    padding-left: 2px;
    position: absolute;
    top: 0;
    width: 18px;
}

.main .box ul li .img {
    position: relative;
    height: 65px;
    width: 65px;
    float: left;
    border: 1px solid #f2f2f2;
}

.top .selected .pic {
    display: block;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
}