body h1,h2,h3,h4,h5,h6,p,ul,form,dl,dd,dt{
    padding: 0;
    margin: 0;
}
ul,li{
    letter-spacing: normal;
}
a{
    text-decoration: none;
    color: #000;
}
a.visited{
    color: #000;
}
img{
    bottom: none;
}
/* 杨阳的可选内容 */
body{
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    
    }
    :root{
        font-style: 5.6vw;
    }

    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }

.bnav{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #e9e8e8;
    z-index: 99;
}
.bnav ul{
    display: flex;
}

.bnav div{
    text-align: center;
}
.bnav svg{
    font-size: 20px;
}

.bnav li:nth-child(3) svg {
   font-size: 40px;
    
}

.bnav li{
    width: 20%;
    display: flex;
    justify-content: center;
}      


#header
{
 display: flex;
 position: fixed;
 width: 100%;
 z-index: 99;
}

.search
{
 flex-grow: 1;
 display: flex;
align-items: center;
 position: relative; 
 width: 100px;
  margin-left: 0;
}

#search
{
 flex-grow: 8;
 border: none; 
 width: 60%;
 margin-right: 50px;
 outline: none;/* 轮廓 */ 
 background-color: #d9d8d8;
 padding: 10px 10px 10px 20px;
 letter-spacing: 10px;
 border-radius: 5px;
 
}

.icon {
width: 1em;
height: 1em;
vertical-align: -0.15em;
fill: currentColor;
overflow: hidden;
font-size: 20px;
}

.search .icon {
width: 1em;
height: 1em;
vertical-align: -0.15em;
fill: currentColor;
overflow: hidden;
font-size: 20px;
position: absolute;
}

.icon:nth-child(2) {
font-size: 40px;

}
.icon:nth-child(3) {
font-size: 40px;

}



.main {

    border: 1px solid #ddd;
    font-size: 12px;
    margin: 0;
    padding: 0;
   
}

.main .box ul .last {
    border-bottom-style: none;
}

.main .top ul li {
    list-style-type: none;
    float: left;
    height: 20px;
    width: 45px;
    margin-left: 10px;
    line-height: 20px;
    text-align: center;
    position: relative;
}

.none {
    display: none;
}

.top .selected {
    
    color: #0e0d0d;
    position: relative;
    font-size: 20px;
   
}

.main .box ul li .img img {
    text-align: center;
    margin-top: 2px;
    margin-left: 3px;
}

.main .box .content img{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
    margin-bottom: 50px;
    object-fit: cover;
}

.main .box .content {
    margin-top: 10%;
    margin-bottom: 0;
 }

.main .top {

    width: 100%;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-top: 10%;
    color: #c1bdbd;
    position: fixed;
    z-index: 99;
    font-size: 14px;
    background-color: #f5f3f3;
}


 .main .title {
    height: 30px;
    border-bottom-color: #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 30px;
    font-weight: bold;
    padding-left: 10px;
} 

.main .box ul li .alist{
    list-style-type: none;
    height: 75px;
     width: 180px; 
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    margin-top: 100px;
}

.top .selected .pic {
    display: block;
}

.s1 .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.s1 .swiper {
width: 100%;
height: 100%;
}

.s1 .swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
}



.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.item{
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    break-inside: avoid; /* 防止li元素跨列出现 */
}
.item img{
    width: 100%;
    height: auto;
    display: block;
}
.item h3{
    font-size: 12px;
    color: #333;
    line-height: 20px;
    margin: 5px;
}

.item p{
    font-size: 12px;
    color: #aaa;
    line-height: 20px;
    margin: 5px;
}

 .alist {
    columns: 2;
    column-gap: 10px;
    margin-top: 100px;
} 

.s2 {
    width: 90%;
    height: 40px;
    padding: 0;
    display: flex;
    font-size: 20px;
    color: #000;
    margin-top: 100px;
    background-color: #ebe9e9;
    margin-top: 70px;
    overflow: hidden;
}

.s2 .gg{
    width: 50px;
    margin-top: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    background-color: orange;
}

.s2 .swiper-wrapper{
   
   margin-left: 50px;
  margin-top: 12px;
}

.blist{
    display: flex;
  flex-wrap: wrap;
}
.blist li{
width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
   align-items: baseline;
   
  
}
.blist img{
    width: 100%;
}
.blist p{
   
    font-size: 14px;
    color: #000;
    margin: 0;
    background-color: orange;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
}

.blist h3{
    font-size: 14px;
    color: #333;
   width: 60%;
}

.blist a{

    color: #05b253;
    margin-left: 40px;
     
}