body,
ul,
h2 {
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
#fixed {
    width: 120px;
    position: fixed;
    
    left: 0;
    top: 60px;
    border: 1px solid #dbdee1;
}


#fixed li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    background-color: #eee;
    color: #666
}
#fixed .cur {
    border-top: 1px solid #dbdee1;
    border-bottom: 1px solid #dbdee1;
    background-color: #fff;
    margin-right: -1px;
    width: 121px;
}
#fixed .cur {
    color: #141414;
}
#main {
   
    margin-left: 122px;
  /*   margin-bottom: 500px; */
  
}
.box {

height: calc(100% - 34px);
box-sizing: border-box;
text-align: center;
display: none;

}
.box.active {
    display: block;
}

.box h2 {
    font-size: 16px;
    color: #000;
    line-height: 34px;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: rgb(107, 247, 128);
}
.box ul {
   
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* 添加flex-wrap属性 */
    justify-content: space-between; /* 添加justify-content属性 */
    align-items: center;
    height: 100%; /* 占满父容器的高度 */
}
.box ul li {
width: calc(33.33% - 10px);
height: auto;
margin-bottom: 10px;
font-size: 10px;
color: #000;
box-sizing: border-box;
border: 1px solid #ddd;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
line-height: 1.2;
padding: 5px;
background-color: #fff; /* 将盒子的背景颜色设置为白色 */
}


.box ul li h2:not(:last-child) {
margin-right: 10px; /* 菜单项之间的小间距 */
}

.box ul li:first-child h2:last-child,
.box ul li:last-child h2:first-child {
margin-right: auto; /* 自动分配剩余空间，使菜单项往中间移动 */
flex-basis: 40%; /* 初始大小 */
}

.menu-content {
display: flex;
align-items: center;
}

.menu-content h2 {
margin-right: 10px; /* 可以根据需要调整h2与图片之间的距离 */
}

.tab-content {
height: 200px; /* 设置容器高度 */
overflow-y: hidden; /* 隐藏超出容器高度的内容 */
}


.t {
display: flex; 
align-items: baseline;
justify-content: space-between; 
position: absolute;
}
.t h3{
margin-right: 250px;
}
.t p{
margin-left: 0;
color: #08b762;
}

.left-icon {
margin-right: 10px;
}

.icon {
width: 1em;
height: 1em;
vertical-align: -0.15em;
fill: currentColor;
overflow: hidden;
font-size: 20px;
}

.zt{
    
    margin-top: 100px;
margin-bottom: 10px;
   position: absolute;
}
.hz{
    position: relative;
}
