body h1,h2,h3,h4,h5,h6,p,ul,form,dl,dd,dt{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
    letter-spacing: normal;
}
a{
    text-decoration: none;
    color: #000;
}
a.visited{
    color: #000;
}
img{
    display: block;
    bottom: none;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    
    }
    :root{
        font-style: 5.6vw;
    }

    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }

.bnav{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #f3f1f1;
    z-index: 99;
}

.tnav{
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 99;
}
.bnav ul,.tnav ul{
    display: flex;
}

.bnav div{
    text-align: center;
}
.bnav svg{
    font-size: 20px;
}

.tnav svg{
font-size: 30px;

}

.bnav li:nth-child(3) svg {
   font-size: 40px;
    
}

.tnav li:nth-child(2) svg{
    margin-left: 280px;
     position: absolute;
 }
 

.tnav li:nth-child(3) svg{
    font-size: 22px;
   margin-left: 320px;
    position: absolute;
    margin-top: 5px;
}

.tnav div{

    position: relative;
}

.bnav li{
    width: 20%;
    display: flex;
    justify-content: center;
}      


.item{
    padding: 8px;
    border: none;
    display: flex;
    margin-left: 10px;
}
.item img{
    width: 20%;

}
.item h3{
   font-size: 20px;
   color: #333;
}

.item div{
    margin-left: 20px;
}
.item span{

font-size: 12px;
color: #f6f656;
line-height: 23px;
padding: 0 10px;
}

.item p{
    text-align: center;
    border-radius: 10px;
    background-color:orange;
    
}
.introduce{
    color:#333;
}

.nr{
    display: flex;
    flex-wrap: wrap;
}
.nr li{
   width: 20%;
   display: flex;
   margin-top: 10px;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.nr p{
    font-size: 14px;
    color: #aaa;
    line-height: 26px;
    text-align: center;
}

.nr h3{
    font-size: 14px;
    color: #333;
    line-height: 26px;
    text-align: center;
}

.wz{
    display: flex;
    flex-wrap: wrap;
}

.wz span{
        font-size: 12px;
        text-align: center;
        line-height: 23px;
        padding: 0 10px;
    }

    .wz li{
        width: 20%;
        display: flex;
        text-align: center;
        margin-top: 10px;
     } 

.wz p{
        margin-left: 10px;
       
    }

.tb,.hd{
        padding: 8px;
        border: none;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #403f3f;
        border-radius: 10px;
       padding: 0;
       justify-content: space-between
       
    }
.tb ul{
    display: flex;
}


.tb h3{
    font-size: 20px;
    color: #fae631;
 }
 
 .tb div{
     margin-left: 20px;
 }
 
.tb svg{
    font-size: 40px;
}

 .tb p{
     text-align: center;
     border-radius: 10px;
    color: #f5f2f2;
     
 }


 .main {

    font-size: 12px;
    margin: 0;
    padding: 0;
}

.main .box ul .last {
    border-bottom-style: none;
}

.main .top ul li {
    list-style-type: none;
    float: left;
    height: 20px;
    width: 45px;
    margin-left: 100px;
    line-height: 20px;
    text-align: center;
    position: relative;
}
.none {
    display: none;
}

.main .box ul li .text {
    line-height: 20px;
    height: 65px;
    width: 110px;
    float: left;
    margin-left: 2px;
}


.top .selected {
    
    color: #0e0d0d;
    position: relative;
    font-size: 14px;
}


.main .box ul li .text strong {
    height: 40px;
    width: 110px;
    overflow: hidden;
    display: block;
    font-weight: normal;
}


.main .top {
    height: 10px;
    border-bottom-width: 1px;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-top: 0;
    color: #c1bdbd;
    font-size: 14px;
}

.main .box ul li {
    list-style-type: none;
    height: 75px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    margin-top: 10px;
}


.top .selected .pic {
    display: block;
}
