@font-face {
  font-family: "iconfont"; /* Project id 4364949 */
  src: url('iconfont.woff2?t=1702299017826') format('woff2'),
       url('iconfont.woff?t=1702299017826') format('woff'),
       url('iconfont.ttf?t=1702299017826') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e64a";
}

.icon-tianjia-copy:before {
  content: "\ee18";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-gengduo:before {
  content: "\e655";
}

.icon-shoucangjia:before {
  content: "\e67c";
}

.icon-wode:before {
  content: "\e638";
}

.icon-yaoshui:before {
  content: "\e90f";
}

.icon-tongzhi:before {
  content: "\ee17";
}

